@import '/css/reset.css';
@import '/css/global.css';


/* Header section */
body{
    font-family:var(--f-family);
    overflow-x:hidden;
}

.header{
    width:100%;
    height:75px;
    background-color:white;
}

.header__desktop-nav{
    display:flex;
    height:100%;
    width:100%;
    justify-content:space-between;
    align-items:center;
    position:relative;
}

.desk-nav{
    flex:1;
}

.header__logo{
font-size:var(--fsize-big);
font-weight:var(--fw800);
flex:1;
}

.link{
    font-size:var(--fsize-link);
    font-weight:var(--fw600);
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}


.link__new-releases-container,
.link__men-container,
.link__women-container,
.link__kids-container,
.link__sales-container
{
    position:absolute;
    width: 100vw;
    padding:3rem 0;
    left:0;
    right:0;
    top:75px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    transform:translateY(-150%);
    transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
    transition-delay: 0.1s;
    transition-property: transform;
    z-index:-999;
    gap:50px;
}

.link__new-releases-container:hover,
.link__men-container:hover,
.link__women-container:hover,
.link__kids-container:hover,
.link__sales-conatiner:hover
{
    transform:translateY(0%);
}

.link__item-new-releases:hover ~ .link__new-releases-container,
.link__item-men:hover ~ .link__men-container,
.link__item-women:hover ~ .link__women-container,
.link__item-kids:hover ~ .link__kids-container,
.link__item-sale:hover ~ .link__sales-container
{
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    transform:translateY(0);
}


.link__row{
    width:150px;
    font-size:var(--fsize-mid);
}

.link__category-title{
    font-size:var(--fsize-mid);
    padding-bottom:10px;
    font-weight:var(--fw600);
    cursor:pointer;
}

.link__category-link{
    margin:10px 0px;
    font-size:var(--fsize-link);
    font-weight:var(--fw500);
}

.link__category-link a{
    text-decoration:none;
    color:hsla(360,100%,0%,0.6);
}

.link__category-link a:hover{
    color:hsla(360,100%,0%,1);
}

.link__item-new-releases,
.link__item-men,
.link__item-women,
.link__item-kids,
.link__item-sale
{
    position:relative;
    cursor:pointer;
    padding:5px;
    margin:0px 10px;
}

.link__item-new-releases:after,
.link__item-men:after,
.link__item-women:after,
.link__item-kids:after,
.link__item-sale:after
{
    content:'';
    position:absolute;
    width:100%;
    height:0px;
    border-radius:500px;
    background:black;
    left:0;
    bottom:-20px;
    transition:height 0.1s ease;
}

.link__item-new-releases:hover:after,
.link__item-men:hover:after,
.link__item-women:hover:after,
.link__item-kids:hover:after,
.link__item-sale:hover:after
{
    height:1.5px;
}



.desk-nav__user{
    flex:1;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.desk-nav__user:focus-within .desk-nav__input{
    left:50%;
    transform:translate(-50%,0%);
}

.desk-nav__user:focus-within .search{
    max-width:500px;
    min-width:200px;
    width:70vw;
}

.desk-nav__input{
    transition: 0.2s var(--easeoutquint);
    height:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    position:absolute;
    left:67%;
    padding:0px 50px;
    background:white;
}

.search{
padding:12px 50px;
background:rgb(216, 216, 216);
border-radius:500px;
width:125px;
transition: width 0.1s var(--easeoutquint);
border:none;
outline:none;
}

.search::placeholder{
    font-size:var(--fsize-mid);
}

.desk-nav__input-label p{
    position:absolute;
    padding:50px;
    border-radius:500px;
    cursor:pointer;
    text-align:center;
    padding:50px;
    font-size:50px;
}


.fa-search{
    position:absolute;
    padding:10px;
    border-radius:500px;
    background:rgb(216, 216, 216);
    z-index:999;
    cursor:pointer;
    pointer-events:none;
}

.fa-search:hover{
    background:rgb(189, 189, 189);
    pointer-events:none;
}

.fa-search:active{
    pointer-events:none;
}




/* Expansion on active search bar */

.search-expand{
    position:absolute;
    left:0;
    right:0;
    top:75px;
    width:100%;
    height:0px;
    z-index:-999;
    transition: 0.2s var(--easeoutquint);
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-expand__container{
    width:600px;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.search-expand__text-wrapper h3{
    font-size:var(--fsize-mid);
    font-weight:var(--fw600);
}

.search-expand__text-wrapper li {
    list-style-type:none;
    margin:7px 0px;
    cursor:pointer;
}

.search-expand__text-wrapper li:first-of-type{
    margin-top:20px;
}

.search-expand__text-wrapper{
    transform:translateY(20px);
    opacity:0;
}

.desk-nav__user:focus-within .search-expand__text-wrapper{
    transform:translateY(0px);
    opacity:1;
    transition:all 0.5s ease;
    transition-delay:0.3s;
    transition-property:transform,opacity;
    padding:0px 20px;
}

.desk-nav__user:focus-within  .search-expand{
    height:250px;
    overflow:hidden;
}



@media only screen and (max-width: 1145px) {
   .link__item-sale{
       display:none;
   }
}

@media only screen and (max-width: 970px) {
    .link__item-kids{
        display:none;
    }
}

.desk-nav__input-label{
    display:none;
}



/* Nav mobile responsiveness */


@media only screen and (max-width: 840px) {

    .desk-nav{
        display:none;
    }

    .search{
        padding:12px 19px;
        background:rgb(216, 216, 216);
        border-radius:500px;
        width:0;
        transition: width 0.1s var(--easeoutquint);
        border:none;
        outline:none;
    }

    .search:focus:placeholder-shown{
        padding:12px 50px;
    }

    .desk-nav__user:focus-within .hamburger{
        display:none;
    }

    .hamburger{
        padding:10px;
        position:absolute;
        right:20px;
    }

    .hamburger__line1,
    .hamburger__line2,
    .hamburger__line3{
        width:23px;
        height:4px;
        background:black;
        border-radius:500px;
    }
    
    .hamburger__line2{
        margin:3px 0px;
    }
}
